<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="apprtc.preeyakamon.hiddinword">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon5"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Authen"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".play"
            android:label="@string/title_activity_play" />
        <activity android:name=".MainActivity" />
        <activity android:name=".SignUp" />
        <activity android:name=".TestLevel" />
        <activity android:name=".Success" />
        <activity android:name=".Statistic" />
        <activity android:name=".Menu" />
        <activity android:name=".playable" />
        <activity android:name=".ChangePersonal" />
        <activity android:name=".UserList"></activity>
    </application>

</manifest>